*{
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

img:hover{
   cursor: pointer;
}

a{
    text-decoration: none;
}

input:focus{
outline: none;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

@keyframes goUp {
    from {
        top: 0;
    }

    to {
        top: -1000%;
    }
}

@keyframes disappear{
    0% {
        opacity: 0;
    }
    50%{
         opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes a {
    from {
        opacity: 0;
        transform: translate(0, 20%);
    }

    to {
        opacity: 1;
        transform: translate(0, -20%);
    }
}

@keyframes growup{
    0% {
        transform: translate(0 );
        opacity: 0;
      }

    100%{
        transform: translate(0) skewY(1);
        opacity: 1;
    }
}

@keyframes lefttoright {
    from {
        width: 100%;
        
    }

    to{
        width: 0%;
    }
}

@keyframes growwidth {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.lefttoright, .lefttoright2{
    
    transform-origin: left;
    
}

.lefttoright{
    animation: lefttoright 1s cubic-bezier(.97, .01, .36, .99) 1.7s forwards;
    background-color: rgb(153, 153, 153);
    z-index: 10000000;
}

.lefttoright2{
    animation: lefttoright .9s cubic-bezier(.97, .01, .36, .99) 2s forwards;
    background-color: rgb(0, 0, 0);
    z-index: 1000000;
}

.intro{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: goUp 1.5s cubic-bezier(.97, .01, .36, .99) 2.8s forwards;
}

.intro > h1{
    font-size: 5.5vw;
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-transform: uppercase;
}

.kof1,
.kof3,
.kof5,
.kof7,
.kof2,
.kof4,
.kof6 {
    animation: .3s forwards disappear;
}

.kof1{
    animation-delay: 2.5s;
}
.kof2 {
    animation-delay: 2.9s;
}
.kof3 {
    animation-delay: 2.6s;
}
.kof4 {
    animation-delay: 2.3s;
}
.kof5 {
    animation-delay: 2.8s;
}
.kof6 {
    animation-delay: 2.5s;
}
.kof7 {
    animation-delay: 2.9s;
}
.up,.up2,.up3,.lefttoright, .lefttoright2{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;
}

.up{
    
    background-color: turquoise;
    z-index: 1000000000;
    animation: goUp 2s cubic-bezier(.97,.01,.36,.99) .8s forwards;
}

.mainkof{
    font-size: 12vw;
    text-transform: uppercase;
    animation: disappear .1s cubic-bezier(.97, .01, .36, .99) .8s forwards;
}

.up2{
    z-index: 100000000;
    background-color: black;
    animation: goUp 1.2s cubic-bezier(.97, .01, .36, .99) 1.6s forwards;
    /* animation-delay: 1.6s; */
}

.up3{
    z-index: 10000000;
    background-color: rgb(247, 0, 255);
    animation: goUp 1.2s cubic-bezier(.97, .01, .36, .99) .8s forwards;
    animation-delay: 1.9s;
}


.nav{
    height: 100vh;
    width: 7%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.kof{
    opacity: 0;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    animation: a .4s ease-in-out forwards;
    animation-delay: 3.9s;
    animation: top .5s cubic-bezier(.97, .01, .36, .99) 7s forwards;
}

.burger{
    height: 35px;
    width: 45px;
    padding: 5px;
    z-index: 100;
}

.burger:hover{
    cursor: pointer;
}

.line,.line2,.line3{
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 100%;
    margin: 5px auto;
    transition: .5s;
}
.x {
   transform: rotate(45deg) translate(20%, 85%);
   
}

.x2{
    opacity: 0;
    transform: translate(50%, 0);
}

.x3{
    transform: rotate(-45deg)translate(20%, -85%);
}

.searchinputbox{
    position: relative;
}

.searchinputbox > i{
    font-size: 18px;
}

.expandedinput{
    height:35px;
    opacity: 0;
    width: 0;   
    background-color:rgb(167, 167, 167) ;
    border: lightgrey 1px solid;
    border-radius: 50px;
    transition: .3s;
    position : absolute;
    left: 0;
    transform: translate(0, -20%);
    padding-left: 15px;
    z-index: 100;
    font-size: 12px;
}

.searchinputbox:hover .searchinputbox>i {
    background-color: black;
    color: white;
    padding: 5px;
    z-index: 1000;
}

.searchinputbox:hover .expandedinput {
    width: 300px;
    opacity: 1;
}



/* .genderbox{
    transform: rotate(-90deg);
    color: rgb(0, 0, 0);
    height: 100px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .2s;
} */

.gender{
    transform: rotate(-90deg);
    padding: 3px;
    color: black;
    text-decoration: none;
}

.gender::before{
    display: block;
    height: 1px;
    width: 100%;
    content: '';
    position: absolute;
    left: -70%;
    opacity: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    transition: .2s;
}

.gender:hover::before{
    transform: translateX(70%);
    opacity: 1;
}


.gender{
    font-weight: 200;
    text-transform: uppercase;
}

.navline{
    background-color: black;
    width: 30%;
    height: 2px;
    transform: rotate(-90deg);
}

.navscreen{
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: -100%;
    background-color: rgb(255, 255, 255);
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s ease-in-out;
}

.open{
    left: 0;
}
.close{
    left: -100%;
}

@keyframes appear {
    0% {
        transform: translate(0, 25%);
        opacity: 0;
    }

    50%{
        transform: translate(0, -45%);
    }

    100% {
        transform: translate(0, -25%);
        opacity: 1;
    }
}

.navscreenlinks{
    text-align: right;
    list-style: none;
}

.navscreenlinks > a > li{
    opacity: 0;
    font-family: 'Goldman';
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke: 2px black; */
    text-decoration: none;
    transition: .2s;
}


.navscreenlinks>a>li:hover::before{
    display: block;
    height: 100%;
    width: 10px;
    transform: translate(-150%, 0);
    content: '';
    background-color: black;
    position: absolute;
    left: 0;
    transition: .4s ease-in-out;
}

.appear{
    animation: .5s ease-in-out appear forwards;
}

.a{
    animation: .3s ease-in-out a forwards;
}


#game1{
    animation-delay: .7s;
}

#game2 {
    animation-delay: .8s;
}

#game3{
    animation-delay: .9s;
}

#link1{
     animation-delay: .2s;
}

#link2{
     animation-delay: .3s;
}

#link3 {
    animation-delay: .4s;
}

#link4{
    animation-delay: .5s;
}

#link5{
    animation-delay: .6s;
}

#link6{
    animation-delay: .7s;
}

.navscreenlinks>li:hover{
    color: rgb(114, 114, 114);
    cursor: pointer;
    /* -webkit-text-stroke: 1px turquoise; */
}

.box{
    height: 100%;
    width: 45%;
    position: relative;
}

.games{
    display: flex;
    text-transform: uppercase;
    font-size: 11px;
    list-style: none;
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    bottom: 5%;
    left: 10%;
}

.games > li{
    margin: 0 10px;
    opacity: 0;
}

    /* 
.login,.signup{
    height: 40px;
    width: 70%;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
}

.login{
    background-color: turquoise;
    color: white;
} */

.wrap{
    height: 100vh;
    width: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.icons, .random{
    display: flex;
    position:fixed;
    list-style: none;
    z-index: 100;
    mix-blend-mode: difference;
}

.icons{
    bottom: 2%;
    right: 2%;
    
}

.random{
    z-index: 10;
    bottom: 50%;
    right: -1%;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.random > li{
    margin: 0 10px;
    font-size: 14px;
    color: lightgrey;
}

.icons > li > i{
    font-size: 20px;
    margin: 0 8px;
    color: white;
    border: 2px solid white;
    padding: 8px;
    opacity: 0;
    border-radius: 50%;
    animation: top .5s forwards ease;
}

#icon1 {
    animation-delay: 4.2s;
}

#icon2 {
    animation-delay: 4.3s;
}

#icon3 {
    animation-delay: 4.4s;
}

.icons>li>i:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.wrap::-webkit-scrollbar{
    background-color: transparent;

}

.shoppingcart{
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: rgb(241, 241, 241);
    height: 25px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 20px;
    z-index: 10;
    opacity: 0;
    animation: appear .5s ease forwards;
    animation-delay: 8s;
}

.herosection{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:5em auto 10em;
    position: relative;
}

.herotextdiv{
    width: 24%;
    height: 87vh;
    transform: translateX(10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    z-index: 10;
}

.number{
    color: rgb(41, 41, 41);
    position: absolute;
    left: 2%;
    top: -15%;
    font-weight: bold;
    font-size: 80px;
}

.herotext{
    width: 100%;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    line-height: 1.2em;
    
}


.herospan{
    animation: .5s ease-in-out forwards appear;
    opacity: 0;
}

#span1{
    animation-delay: 3.5s;
}
#span2 {
    animation-delay: 3.6s;
}
#span3{
    animation-delay: 3.7s;
}
#span4{
    animation-delay: 3.8s;
}

@keyframes top{
    0%{
        transform: translate(0, -20%);
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translate(0 , 0%) ;
    }
}

@keyframes down {
    0% {
        transform: translate(0, 20%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translate(0, 0%);
    }
}

.shopnow{
    animation: .5s ease forwards top;
    animation-delay: 4s;
    opacity: 0;
    margin: 2em 0;
    height: 65px;
    width: 95%;
    border: 2px solid rgb(41, 41, 41);
    background-color: transparent;
    color: rgb(167, 167, 167);
    text-transform: uppercase;
}


.heroimagediv{
    height: 44vw;
    width: 44vw;
    border-radius: 50%;
    background: rgb(255, 118, 199);
    background: linear-gradient(346deg, rgba(255, 118, 199, 1) 0%, rgba(154, 0, 255, 1) 100%);
    transform: translateX(-1%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    opacity: 0;
    transition: .3s ease-in-out;
    animation: top 1.5s cubic-bezier(.97, .01, .36, .99) 3.8s forwards;
}


.circleimg{
    height: 27vw;
    width: 27vw;
    background-color: turquoise;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
    opacity: 0;
    transition: .4s ease ;
    animation: down 1.5s cubic-bezier(.97, .01, .36, .99) 4.8s forwards;
}

.heroimage{
    height: 14vw;
    width: 22vw;
    transform: rotate(-25deg);
    transition: ease-in-out .4s;
    opacity: 0;
    animation: top 1.5s cubic-bezier(.97, .01, .36, .99) 5.5s forwards;
}

.heroimagediv:hover {
    transform: scale(1.1);
    cursor:pointer;
}

.heroimagediv:hover .heroimage {
    transform: rotate(10deg);
}

.pricebox{
    color: white;
    position: absolute;
    bottom: 5%;
    right: 15%;
    text-transform: uppercase;
    opacity: 0;
    animation: down 1.5s cubic-bezier(.97, .01, .36, .99) 6s forwards;
}

.small{
    background-color: white;
    color: black;
    height: 55px;
    width: 90%;
    border: none;
    text-transform: uppercase;
}

.shopmenandwomen {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    margin: 30em auto;
}

.scroller{
    background-color: rgb(134, 134, 134);
    height: 90%;
    width: 97%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: auto;
}

.scroller::-webkit-scrollbar{
    background-color: black;
}
.stuffwrap{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stuffimg{
    height: 31vw;
    width: 28vw;
}

.buydiv{
    height: 20vw;
    width: 20vw;
    transform: translateY(40%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.jacket{
    text-transform: capitalize;
    font-size: 1.8vw;

}

.colors{
    display: flex;
    list-style: none;
    margin: 20px 0;
}

.color1, .color2, .color3,.color4{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.color1{
    background-color: magenta;
}

.color2{
    background-color: black;
}

.color3{
    background-color: rgb(0, 225, 255);
}

.color4 {
    background-color: rgb(75, 75, 75);
}

.pricing{
    font-weight: 300;
}

.buybuttonbox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.save,.addto{
    height: 5.5vw;
    width: 17vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    margin: 10px 0;
}

.save{
    background-color: transparent;
    border: 2px solid black;
}

.addto{
    border: none;
    background-color: black;
    color: white;
}

.buttondiv{
position: absolute;
display: flex;
bottom: 20%;
left: 10%;
border: 2px solid black;
}

.find,.find2{
    height: 55px;
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    letter-spacing: 2px;
    transition: ease-in-out .2s;
}

.find{
    background-color: black;
    color: white;

}

.find:hover{
    opacity: .8;

}

.find2{
    background-color: transparent;
}

.find2:hover{
    opacity: .8;
}


.latest{
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 20em auto;
    position: relative;
}

.left{
    height: 70%;
    width: 30%;
    background-color: blue;
    border-radius: 0px 120px 0px 120px;
    position: relative;
    margin: 0 20px;
}

.get{
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 5vw;
    text-transform: capitalize;
    z-index: 1  ;
    color: white;
}

.shoewrap{
    height: 27vw;
    width: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 30%;
    z-index: 1;
    transform: rotate(25deg);
    transition: .3s ;
}

.shoewrap:hover{
    transform: scale(1.2);
}

.womensshoe{
    height: 16vw;
    width: 18vw;
    transition: .3s ease-in-out;
}


.right{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textwrap{
    width: 50%;
    text-align: right;
    transform: translateX(10%);
}

.womensshoetitle{
    color: white;
    font-size: 7vw;
    margin: 10px 0;
    font-weight: bold;
}

.shoetext{
    font-size: 1.5vw;
    color:rgb(134, 134, 134);
}

.shopshoes{
    margin: 2em auto;
    height: 65px;
    width: 70%;
    background-color: transparent;
    border: 2px solid rgb(41, 41, 41);
    color: white;
    text-transform: uppercase;
    transition: ease-in-out .2s;
}

.shopshoes:hover{
background-color: white;
color: black;
border: none;
}

.otherbrands{
    height: 270vh;
    width: 100%;
    margin: 15em auto;
    position: relative;
}

.other{
    font-size: 10vw;
    color: white;
    text-align: right;
}

.imagewrapper{
    height: 34vw;
    width: 25vw;
    transform: translate(50%, -50%);
    position: relative;
}

.adidas1, .adidas2, .adidas3, .adidas4{
    height: 100%;
    width: 100%;
}

@keyframes scroller{
    0%{
        left: -20%;
    }

    50%{
        left: -100%;
    }

    100%{
        left: -20%;
    }
}

.imagetext{
    position:absolute;
    bottom: -12%;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: rgb(150, 150, 150);
}

.whitetext{
    color: white;
    opacity: 0;
    transition: .7s ease-in-out;
}

.subtext{
    width: 85%;
    margin: 0 auto;
    font-size: 1vw;
}

.peek{
    height: 55px;
    width: 75%;
    margin: 0 auto;
    border: none;
    background-color: rgb(41, 41, 41);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.imagewrapper:hover .imagetext{
    visibility: visible;
    opacity: 1;
    transform: translateY(-10%);
}

.imagewrapper:hover .whitetext{
    transform: translateY(-10%);
    opacity: 1;
}

.imagewrapper2{
    height: 25vw;
    width: 36vw;
    transform: translate(130%, -90%);
}

.imagewrapper2:hover .imagetext {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10%);
}

.imagewrapper2:hover .whitetext {
    transform: translateY(-10%);
    opacity: 1;
}

.imagewrapper3{
    height: 35vw;
    width: 27vw;
    transform: translate(45%, -70%);
}

.imagewrapper3:hover .imagetext {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10%);
}

.imagewrapper3:hover .whitetext {
    transform: translateY(-10%);
    opacity: 1;
}

.imagewrapper4{
    height: 35vw;
    width: 28vw;
    transform: translate(140%, -100%);
}

.imagewrapper4:hover .imagetext {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10%);
}

.imagewrapper4:hover .whitetext {
    transform: translateY(-10%);
    opacity: 1;
}

.contactwrapper{
    height:100vh;
    width: 100%;
    position: relative;
}

.contact{
    position: absolute;
    top: 0%;
    left: -20%;
    transform: translate(0%, 45%);
    font-size: 7vw;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .2s ease-in-out;
    z-index: 1;
    animation: scroller 30s linear infinite;
    color: white;
}

.contacts{
    position: absolute;
    bottom: 10%;
    right: 10%;
    list-style: none;
}

.contacts > li{
    font-size: 2.5vw;
    color: white;
    text-transform: capitalize;
}

.shoppingwrapper{
    height: 100vh;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: rgb(102, 102, 102);
}

.shoppingoptionslist{
    height: 10vh;
    width: 85%;
    margin: 10px auto;
    background-color: white;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.shoppingoptionslist > a {
    color: rgb(0, 0, 0);
    font-size: 1vw;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.productswrapper{
    height: 95%;
    width: 95%;
    margin: 10px auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    position: relative;
}

.typeof{
    position: absolute;
    text-transform: uppercase;
    left: 2%;
    top: 1%;
    font-size: 3vw;
}

.typeof::after{
    background-color: black;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
}

.products{
    height: 70%;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    position: relative;
}

.products::-webkit-scrollbar{
    background-color: white;
}

.products::-webkit-scrollbar-thumb{
    background-color: black;
}

.product{
    height: 50vh;
    width: 1000px;
    margin:  auto 35% auto 20%;
    position: relative;
}



.backgroundobject{
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 35vw;
    width: 35vw;
    border-radius: 50%;
    transform: translate(-20%, 0);
}

.close{
    position: absolute;
    left: 90%;
    top: 2%;
    background-color: black;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 1000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .2s ease-in-out ;
    animation: top .5s cubic-bezier(.97, .01, .36, .99) 2s forwards;
}

.close:hover{
    background-color: rgb(68, 68, 68);
    cursor: pointer;
    transform: scale(1.2);
}
/* 
.close:hover .slant1{
    background-color: black;
}

.close:hover .slant2{
    background-color: black;
} */

.slant1,.slant2{
    height: 2px;
    width: 70%;
    background-color: white;
    /* transition: .2s ease-in-out; */
}

.slant1{
    transform: rotate(45deg);
}

.slant2{
    transform: rotate(-45deg);
}


.productimage1,
.productimage2,
.productimage3{
    position: absolute;
    height: 20vw;
    width: 17vw;
    z-index: 10;
   transition: .3s cubic-bezier(.97, .01, .36, .99) ;
}

.productimage1:hover{
    transform: scale(1.1);
}

.productimage2:hover{
    transform: scale(1.1);
}

.productimage3:hover {
    transform: scale(1.1);
}

.full,.full2,.full3 {
    height: 100vh;
    width: 0%;
    background-color: rgb(255, 255, 255);
    display: none;
    z-index: 100;
}

.fullscreen{
    top: 0;
    left: 0;
    position: fixed;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: growwidth .5s cubic-bezier(.97, .01, .36, .99) .5s forwards;
}

.productimage1{
    top: 5%;
    left: -5%;
}

.productimage1fullscreen, .productimage1fullscreen2,
.productimage1fullscreen3 {
    height: 45vw;
    width: 35vw;
    opacity: 0;
    animation: top .8s cubic-bezier(.97, .01, .36, .99) 1s forwards;
}

.productimage2 {
    top: 10%;
    right: -5%;
}


.productimage3 {
    bottom: -4%;
    left: 20%;
}

.innerwrapper{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.bottomscroller{
    height: 10vh;
    width: 100%;
    background-color: rgb(185, 185, 185);
}

.bottomscroller, .slidenav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidecircle{
    background-color: white;
    margin: 0 15px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.productsdescription{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.typeofproduct{
    font-size: 3vw;
    font-weight: 400;
    color: lightgrey;
    text-align: left;
    text-transform: capitalize;
}

.price{
    font-size: 2vw;
    font-weight: lighter;
}

.description{
    line-height: 30px;
    width: 70%;
    font-weight: bold;
}

