*{
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
}

input:focus{
outline: none;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
}

.nav{
    height: 100vh;
    width: 7%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.kof{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.burger{
    height: 35px;
    width: 45px;
    padding: 5px;
    z-index: 100;
}

.burger:hover{
    cursor: pointer;
}

.line,.line2,.line3{
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 100%;
    margin: 5px auto;
    transition: .5s;
}
.x {
   transform: rotate(45deg) translate(20%, 85%);
   
}

.x2{
    
    opacity: 0;
    transform: translate(50%, 0);
}

.x3{
    transform: rotate(-45deg)translate(20%, -85%);
}

.nav > i{
    font-size: 18px;
}

/* .genderbox{
    transform: rotate(-90deg);
    color: rgb(0, 0, 0);
    height: 100px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: .2s;
} */

.gender{
    transform: rotate(-90deg);
    padding: 3px;
}

.gender::before{
    display: block;
    height: 1px;
    width: 100%;
    content: '';
    position: absolute;
    left: -70%;
    opacity: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    transition: .2s;
}

.gender:hover::before{
    transform: translateX(70%);
    opacity: 1;
}


.gender{
    font-weight: 200;
    text-transform: uppercase;
}

.navline{
    background-color: black;
    width: 30%;
    height: 2px;
    transform: rotate(-90deg);
}

.navscreen{
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: -100%;
    background-color: rgb(255, 255, 255);
    z-index: 50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s
}

.open{
    left: 0;
}
.close{
    left: -100%;
}

@keyframes appear {
    0% {
        transform: translate(0, 25%);
        opacity: 0;
    }

    50%{
        transform: translate(0, -45%);
    }

    100% {
        transform: translate(0, -25%);
        opacity: 1;
    }
}

@keyframes a {
    from{
        opacity: 0;
        transform: translate(0, 20%);
    }

    to{
       opacity: 1;
       transform: translate(0, -20%);
    }
}

.navscreenlinks{
    text-align: right;
    list-style: none;
}

.navscreenlinks > li{
    opacity: 0;
    font-family: 'Goldman';
    font-size: 5vw;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    /* -webkit-text-stroke: 2px black; */
    transition: .2s;
}

.appear{
    animation: .5s ease-in-out appear forwards;
}

.a{
    animation: .3s ease-in-out a forwards;
}


#game1{
    animation-delay: .7s;
}

#game2 {
    animation-delay: .8s;
}

#game3{
    animation-delay: .9s;
}

#link1{
     animation-delay: .2s;
}

#link2{
     animation-delay: .3s;
}

#link3 {
    animation-delay: .4s;
}

#link4{
    animation-delay: .5s;
}

#link5{
    animation-delay: .6s;
}

#link6{
    animation-delay: .7s;
}

.navscreenlinks>li:hover{
    color: rgb(114, 114, 114);
    cursor: pointer;
    /* -webkit-text-stroke: 1px turquoise; */
}

.box{
    height: 100%;
    width: 45%;
    position: relative;
}

.games{
    display: flex;
    text-transform: uppercase;
    font-size: 11px;
    list-style: none;
    position: absolute;
    color: rgb(0, 0, 0);
    font-weight: bold;
    bottom: 5%;
    left: 10%;
}

.games > li{
    margin: 0 10px;
    opacity: 0;
}

    /* 
.login,.signup{
    height: 40px;
    width: 70%;
    border: none;
    text-transform: uppercase;
    border-radius: 20px;
}

.login{
    background-color: turquoise;
    color: white;
} */

.wrap{
    height: 100vh;
    width: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.icons, .random{
    display: flex;
    position:fixed;
    list-style: none;
    z-index: 100;
    mix-blend-mode: difference;
}

.icons{
    bottom: 2%;
    right: 2%;
    
}

.random{
    z-index: 10;
    bottom: 50%;
    right: -1%;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.random > li{
    margin: 0 10px;
    font-size: 14px;
    color: lightgrey;
}

.icons > li > i{
    font-size: 20px;
    margin: 0 8px;
    color: white;
    border: 2px solid white;
    padding: 8px;
    border-radius: 50%;
    transition: .2s
}

.icons>li>i:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.wrap::-webkit-scrollbar{
    background-color: transparent;

}

.shoppingcart{
    position: absolute;
    right: 2%;
    top: 2%;
    background-color: rgb(241, 241, 241);
    height: 25px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 20px;
    z-index: 10;
}

.herosection{
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin:5em auto 10em;
    position: relative;
}

.herotextdiv{
    width: 17%;
    height: 87vh;
    transform: translateX(10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    z-index: 10;
}

.number{
    color: rgb(41, 41, 41);
    position: absolute;
    left: 2%;
    top: -15%;
    font-weight: bold;
    font-size: 80px;
}

.herotext{
    width: 100%;
    text-transform: uppercase;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    line-height: 1.2em;
    
}

.shopnow{
    margin: 2em 0;
    height: 65px;
    width: 95%;
    border: 2px solid rgb(41, 41, 41);
    background-color: transparent;
    color: rgb(167, 167, 167);
    text-transform: uppercase;
}

.heroimagediv{
    height: 44vw;
    width: 44vw;
    border-radius: 50%;
    background-color: violet;
    transform: translateX(-1%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: .3s ease-in-out;
}

.circleimg{
    height: 27vw;
    width: 27vw;
    background-color: turquoise;
    border-radius: 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.heroimage{
    height: 14vw;
    width: 22vw;
    transform: rotate(-25deg);
    transition: ease-in-out .4s;
}

.heroimagediv:hover {
    transform: scale(1.1);
    cursor:pointer;
}

.heroimagediv:hover .heroimage {
    transform: rotate(10deg);
}

.pricebox{
    color: white;
    position: absolute;
    bottom: 5%;
    right: 15%;
    text-transform: uppercase;
}

.small{
    background-color: white;
    color: black;
    height: 55px;
    width: 90%;
    border: none;
    text-transform: uppercase;
}

.shopmenandwomen {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    margin: 30em auto;
}

.scroller{
    background-color: rgb(134, 134, 134);
    height: 90%;
    width: 97%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: auto;
}

.scroller::-webkit-scrollbar{
    background-color: black;
}
.stuffwrap{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stuffimg{
    height: 31vw;
    width: 28vw;
}

.buydiv{
    height: 20vw;
    width: 20vw;
    transform: translateY(40%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.jacket{
    text-transform: capitalize;
    font-size: 1.8vw;

}

.colors{
    display: flex;
    list-style: none;
}

.color1, .color2, .color3{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.color1{
    background-color: magenta;
}

.color2{
    background-color: black;
}

.color3{
    background-color: white;
}

.pricing{
    font-weight: 300;
}

.buybuttonbox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.save,.addto{
    height: 5.5vw;
    width: 17vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    margin: 10px 0;
}

.save{
    background-color: transparent;
    border: 2px solid black;
}

.addto{
    border: none;
    background-color: black;
    color: white;
}

.buttondiv{
position: absolute;
display: flex;
bottom: 20%;
left: 10%;
border: 2px solid black;
}

.find,.find2{
    height: 55px;
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    letter-spacing: 2px;
    transition: ease-in-out .2s;
}

.find{
    background-color: black;
    color: white;

}

.find:hover{
    opacity: .8;

}

.find2{
    background-color: transparent;
}

.find2:hover{
    opacity: .8;
}


.latest{
    height: 100vh;
    width: 100%;
    display: flex;
    margin: 20em auto;
    position: relative;
}

.left{
    height: 70%;
    width: 30%;
    background-color: blue;
    border-radius: 0px 120px 0px 120px;
    position: relative;
    margin: 0 20px;
}

.get{
    position: absolute;
    left: 10%;
    top: 10%;
    font-size: 5vw;
    text-transform: capitalize;
    z-index: 1  ;
    color: white;
}

.shoewrap{
    height: 27vw;
    width: 27vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightsalmon;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 30%;
    z-index: 1;
    transform: rotate(25deg);
    transition: .3s ;
}

.shoewrap:hover{
    transform: scale(1.2);
}

.womensshoe{
    height: 16vw;
    width: 18vw;
    transition: .3s ease-in-out;
}


.right{
    height: 100%;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textwrap{
    width: 50%;
    text-align: right;
    transform: translateX(10%);
}

.womensshoetitle{
    color: white;
    font-size: 7vw;
    margin: 10px 0;
    font-weight: bold;
}

.shoetext{
    font-size: 1.5vw;
    color:rgb(134, 134, 134);
}

.shopshoes{
    margin: 2em auto;
    height: 65px;
    width: 70%;
    background-color: transparent;
    border: 2px solid rgb(41, 41, 41);
    color: white;
    text-transform: uppercase;
    transition: ease-in-out .2s;
}

.shopshoes:hover{
background-color: white;
color: black;
border: none;
}

.otherbrands{
    height: 270vh;
    width: 100%;
    margin: 15em auto;
    position: relative;
}

.other{
    font-size: 10vw;
    color: white;
    text-align: right;
}

.imagewrapper{
    height: 34vw;
    width: 25vw;
    transform: translate(50%, -50%);
    position: relative;
}

.adidas1, .adidas2, .adidas3, .adidas4{
    height: 100%;
    width: 100%;
}

@keyframes scroller{
    0%{
        left: -20%;
    }

    50%{
        left: -100%;
    }

    100%{
        left: -20%;
    }
}

.imagetext{
    position:absolute;
    bottom: -12%;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    opacity: 0;
    transition: .3s ease-in-out;
    background-color: rgb(150, 150, 150);
}

.whitetext{
    color: white;
    opacity: 0;
    transition: .7s ease-in-out;
}

.subtext{
    width: 85%;
    margin: 0 auto;
    font-size: 1vw;
}

.peek{
    height: 55px;
    width: 75%;
    margin: 0 auto;
    border: none;
    background-color: rgb(41, 41, 41);
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.imagewrapper:hover .imagetext{
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
}

.imagewrapper:hover .whitetext{
    transform: translateY(-10%);
    opacity: 1;
}

.imagewrapper2{
    height: 25vw;
    width: 36vw;
    transform: translate(130%, -90%);
}

.imagewrapper2:hover .imagetext {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
}

.imagewrapper2:hover .whitetext {
    transform: translateY(-10%);
    opacity: 1;
}

.imagewrapper3{
    height: 35vw;
    width: 27vw;
    transform: translate(45%, -70%);
}

.imagewrapper3:hover .imagetext {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
}

.imagewrapper3:hover .whitetext {
    transform: translateY(-10%);
    opacity: 1;
}

.imagewrapper4{
    height: 35vw;
    width: 28vw;
    transform: translate(140%, -100%);
}

.imagewrapper4:hover .imagetext {
    visibility: visible;
    opacity: 1;
    transform: translateY(-20%);
}

.imagewrapper4:hover .whitetext {
    transform: translateY(-10%);
    opacity: 1;
}

.contactwrapper{
    height:100vh;
    width: 100%;
    position: relative;
}

.contact{
    position: absolute;
    top: 0%;
    left: -20%;
    transform: translate(0%, 45%);
    font-size: 7vw;
    text-transform: uppercase;
    white-space: nowrap;
    transition: .2s ease-in-out;
    z-index: 1;
    animation: scroller 30s linear infinite;
    color: white;
}

.contacts{
    position: absolute;
    bottom: 10%;
    right: 10%;
    list-style: none;
}

.contacts > li{
    font-size: 2.5vw;
    color: white;
    text-transform: capitalize;
}